body {
  background: linear-gradient(pink, lightpink);
  text-align: center;
  font-family: Arial;
  overflow: hidden;
}

h1 {
  margin-top: 100px;
  font-size: 30px;
}

button {
  padding: 12px 20px;
  font-size: 18px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:first-of-type {
  background: red;
  color: white;
}

#no {
  background: gray;
  color: white;
  position: relative;
}

.hidden {
  display: none;
}

#message {
  margin-top: 20px;
  font-size: 22px;
}

/* hearts */
.heart {
  width: 20px;
  height: 20px;
  background: red;
  position: absolute;
  bottom: -20px;
  transform: rotate(45deg);
  animation: float 5s infinite;
}

.heart::before,
.heart::after {
  content: "";
  width: 20px;
  height: 20px;
  background: red;
  position: absolute;
  border-radius: 50%;
}

.heart::before {
  top: -10px;
  left: 0;
}

.heart::after {
  left: -10px;
  top: 0;
}

@keyframes float {
  0% {
    bottom: -20px;
    opacity: 1;
  }
  100% {
    bottom: 100%;
    opacity: 0;
  }
}